env
products
myshop/__pycache__
shop/__pycache__
shop/migrations/__pycache__
db.sqlite3
cart/__pycache__
cart/__pycache__
cart/migrations/__pycache__
cart/migrations/__pycache__
*.pyc
cart/migrations/__pycache__/__init__.cpython-38.pyc
orders\migrations\__pycache__
orders\__pycache__
.env
myshop.myshop\settings.py
myshop/settings.py
coupons\__pycache__
coupons\migrations\__pycache__
.vscode/
